*{margin: 0; padding: 0; font-family: 'insungitCutelivelyjisu'}
a{text-decoration: none; color: inherit;}

@font-face {
    font-family: 'insungitCutelivelyjisu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
section h1{
    font-size: 4em;
    padding: 5px 10px;
    box-sizing: border-box;
}
section p:first-of-type{
    font-size: 2em;
    margin-top: 10px;
}
section p:last-of-type{
    font-size: 1.5em;
    margin-top: 25px;
}

#random-box{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0;
}
#random-box input{
    display: block;
    width: 100px;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
}
#random-box button{
    padding: 10px 2px;
    border: none;
    background: none;
}